{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body" style="background-color: #9c9c9c">
            <h1 class="display-1 text-center"">Django App</h1>
            <p>Welcome to a new blogpost, in order to publish content you must create a user and log in.
                Thank you for supporting my project and I wish you publish many blogposts.</p>
            <div class="text-center">
                {% if user.is_authenticated %}
                {% else %}
                <a class="btn btn-primary" href="/signin">
                    SignIn
                </a>
                <a class="btn btn-primary" href="/signup">
                    SignUp
                </a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}